@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$black : #333;
$white : #f1f1f1;

@mixin commonCode ($bc: #f33, $w: 70%, $h: 70%) {
    width: $w;
    height: $h;
    background-color: $bc;
    margin: auto;
    display: flex;
    border: 1px solid $white;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    >.pain{
        width: 400px;
        height: 400px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        padding: 20px;
        position: relative;
        display: flex;
        &::before{
            content: 'Bangladesh';
            width: max-content;
            position: absolute;
            top: 0%;
            left: 50%;
            background-color: #f33;
            transform: translate(-50%, -50%);
            // styling fonts
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: #fff;
            padding: 6px 10px;
            border-radius: 5px;
        }
        &:hover{
            box-shadow: 0 0 10px rgba(255,0,0,.3);
        }
        >.rain{
            @include commonCode(#33f, 80%, 80%);
            >.train{
                @include commonCode(#3f3, 60%, 60%);
                >.chain{
                    @include commonCode();
                }
            }
        }
    }
}

.dhaka {
    width: 100%;
    height: 100vh;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kaka {
    @extend .dhaka;
    background-color: $white;
}